<!DOCTYPE html>
<html>
  <head>
    <title>Flower Power</title>
    
    <link rel='stylesheet' href='stylesheets/application.css'>
  </head>
  <body>
    <!-- <div class='container'> -->
    <div id='chart'>
      <main id='inventory'></main>
      <div class='chart-buttons'>
        <div class='button-set'>
          show data for:
          <button 
            class='select-demographic' 
            id='showCombined'>
            <div class='circles'>
              <div class='circle-big'></div>
            </div>
            combined units
          </button>
          <button 
            class='select-demographic' 
            id='showFlowers'>
            <div class='circles'>
              <div class='circle-small'></div>
              <div class='circle-small'></div>
              <div class='circle-small'></div>
            </div>
            breakdown by unit
          </button>
        </div>
      
        <div class='button-set'>
          <!-- <button id='showStartingInventory'>sold + unsold</button> -->
          <div class='select-data'>
            <span>unit sales</span>
            <span class='flavor'></span>
            <button 
              class='select-data count' 
              id='showSoldCount'>
            </button>
            <button 
              class='select-data percent' 
              id='showSoldPercent'>
            </button>
          </div>
        
          <div class='select-data'>
            <span>end-of-day inventory</span>
            <span class='flavor'>
            
            </span>
            <button 
              class='select-data count' 
              id='showRemainingCount'>
            </button>
            <button 
              class='select-data percent' 
              id='showRemainingPercent'>
            </button>
          </div>
        
          <div class='select-data'>
            <span>start-of-day inventory</span>
            <span class='flavor'>
            
            </span>
            <button 
              class='select-data count' 
              id='showReceivedCount'>
            </button>
            <button 
              class='select-data percent' 
              style='pointer-events: none; opacity: .5'
              id='showReceivedPercent'>
            </button>
          </div>
        </div>
      </div>
    </div>
    
    <ul id='details'></ul>
    

    
    <script type='text/html' id='template-detail'>
      <h1 unit='<%= column %>'><%= column %>s <%= property %></h1>
      <div class='periods'>
        <div>    
          <span class='description'>
            For the period starting 
          </span>
          <span class='period'><%= details.startOfPeriod %></span>
        </div>
        
        <div>
          <span class='description'>and ending</span>
          <span class='period'><%= details.endOfPeriod %></span>
        </div>
      </div>
      
      <br>
      <ul class='detail-list'>
        <li>
          <span>Total:</span>
          <span class='focus focus-num total'><%= details.total %></span>
        </li>
        <li>
          <span>Average:</span>
          <span class='focus focus-num avg'><%= details.avg.toFixed() %></span>
        </li>
        <li>
          <span>Maximum:</span>
          <span class='focus focus-num max'><%= details.max.toFixed() %></span>
        </li>
        <li>
          <span>Best Day:</span>
          <span class='focus focus-date'><%= details.bestDay %></span>
        </li>
      </ul>
    </script>
    
    <script type='text/html' id='template-tooltip-count'></script>
    <script type='text/html' id='template-tooltip-percent'></script>
    
    <script>
      var rawData = [
        {
          "flower": "tulip", 
          "date": "2/3/2012", 
          "quantity-sold": "20", 
          "quantity-unsold": "10"
        },
        {
          "flower": "tulip", 
          "date": "2/4/2012", 
          "quantity-sold": "18", 
          "quantity-unsold": "12"
        },
        {
          "flower": "tulip", 
          "date": "2/5/2012", 
          "quantity-sold": "23", 
          "quantity-unsold": "7"
        },
        {
          "flower": "tulip", 
          "date": "2/6/2012", 
          "quantity-sold": "15", 
          "quantity-unsold": "20"
        },
        {
          "flower": "tulip", 
          "date": "2/7/2012", 
          "quantity-sold": "12", 
          "quantity-unsold": "23"
        },
        {
          "flower": "rose", 
          "date": "2/3/2012", 
          "quantity-sold": "50", 
          "quantity-unsold": "40"
        },
        {
          "flower": "rose", 
          "date": "2/4/2012", 
          "quantity-sold": "43", 
          "quantity-unsold": "47"
        },
        {
          "flower": "rose", 
          "date": "2/5/2012", 
          "quantity-sold": "55", 
          "quantity-unsold": "35"
        },
        {
          "flower": "rose", 
          "date": "2/6/2012", 
          "quantity-sold": "70", 
          "quantity-unsold": "20"
        },
        {
          "flower": "rose", 
          "date": "2/7/2012", 
          "quantity-sold": "30", 
          "quantity-unsold": "70"
        },
        {
          "flower": "dandelion", 
          "date": "2/3/2012", 
          "quantity-sold": "10", 
          "quantity-unsold": "0"
        },
        {
          "flower": "dandelion", 
          "date": "2/4/2012", 
          "quantity-sold": "9", 
          "quantity-unsold": "11"
        },
        {
          "flower": "dandelion", 
          "date": "2/5/2012", 
          "quantity-sold": "3", 
          "quantity-unsold": "17"
        },
        {
          "flower": "dandelion", 
          "date": "2/6/2012", 
          "quantity-sold": "4", 
          "quantity-unsold": "16"
        },
        {
          "flower": "dandelion", 
          "date": "2/7/2012", 
          "quantity-sold": "7", 
          "quantity-unsold": "8"
        }
      ]
    </script>
    
    
    <script src='js/build/production.min.js'></script>
    
    <script>
      new DashboardUI();
    </script>
    
  </body>
  
</html>